*
{
text-decoration:none;
color:white;
}
div
{
position:absolute;
}
.head1
{
background:#083355;
height:500px;
width:1340px;
color:white;
}
.head1a
{
font-size:30pt;
font-family:Stencil;
font-weight:bold;
left:50px;
top:10px;
}
.head1b
{
font-size:20pt;
font-weight:bold;
left:75px;
top:20px;
}
.head1c
{
font-size:10pt;
left:60px;
top:50px;
}
.head1d
{
left:600px;
top:30px;
}
.head1d div:hover
{
    border:3px white solid;
}
.head1d div
{
width:80px;
}
.head1da
{
left:10px;
}
.head1db
{
left:130px;
}
.head1dc
{
left:230px;
}
.head1dd
{
left:330px;
}
.head1de
{
left:430px;
}
.head1e
{
left:400px;
top:100px;
font-size:25pt;

}
.head1f
{
left:540px;
top:140px;
font-size:20pt;
}
.head1g
{
left:540px;
top:190px;
color:#93a3b0;
font-size:15pt;
}
.head1h
{
left:400px;
top:230px;
background:white;
width:450px;
height:20px;
border-radius:500px;
color:black;
padding:10px;
}
.head1ha
{
line-height:20px;
left:30px;
}
.head1ha a
{
color:black;
}
.head1hb img
{
height:20px;
}
.head1hb
{
left:420px;
}
.head1i
{
height:30px;
width:350px;
left:460px;
top:320px;
padding:10px;
border:2px orange solid;
}
.head1ia
{
line-height:30px;
font-size:15pt;
left:85px;
}
.head1ia a
{
color:white;
}
.head1j img 
{
height:200px;
width:200px;
border-radius:100px 20px 100px 20px;
}
.head1j
{
left:100px;
top:230px;
}
.head1k img
{
height:200px;
width:230px;
border-radius:20px 100px 20px 100px; 
}
.head1k 
{
left:970px;
top:230px;

}
.head2
{
color:black;
background:#f3f3f5;
height:350px;
width:1340px;
top:508px;
}

.head2 img
{
height:100px;
width:150px;
}

.head2img div
{
border:0px black solid;
box-shadow:10px 10px 10px #d2d2de;
}
.head2a
{
left:550px;
top:50px;
font-size:20pt;
color:black;
}
.head2b, .head2c, .head2d, .head2e , .head2f, .head2g
{
top:150px;
}
.head2b
{
left:30px;
}
.head2c
{
left:250px;
}
.head2d
{
left:470px;
}
.head2e
{
left:690px;
}
.head2f
{
left:910px;
}
.head2g
{
left:1130px;
}
.head3
{
background:#2f0f4f;
height:400px;
width:1340px;
top:858px;
color:white;
}
.head3a
{
background:#8756b7;
width:150px;
height:20px;
top:80px;
left:80px;
border-radius:20px;
padding:10px;
}
.head3a1
{
font-size:15pt;
line-height:20px;
left:25px;
}
.head3b
{
font-size:20pt;
top:140px;
left:90px;
}
.head3c, .head3d
{
background:#8756b7;
width:150px;
height:100px;
top:250px;
left:90px;
border-radius:100px 10px ;
}
.head3d
{
height:50px;
width:75px;
top:300px;
left:220px;
}
.head3e
{
left:140px;
top:280px;
font-size:15pt;
}
.head3f, .head3g, .head3h, .head3i
{
background:#8756b7;
height:140px;
width:150px;
left:800px;
top:20px;
border-radius:100px 10px;
padding:10px;
}
.head3f1
{
left:50px;
font-size:40pt;
font-weight:bold;
}
.head3f2, .head3g2, .head3h2, .head3i2
{
left:30px;
top:70px;
}
.head3g
{
left:1000px;
}
.head3g1, .head3h1, .head3i1
{
left:50px;
font-size:40pt;
font-weight:bold;
}
.head3h
{
left:800px;
top:200px;
}
.head3i
{
left:1000px;
top:200px;

}